<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556510451754-23fc8sv72oe74v51u1hit6avqa2do20f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556510451754-23fc8sv72oe74v51u1hit6avqa2do20f</string>
	<key>API_KEY</key>
	<string>AIzaSyBpQFLJqNirNwlps9b8S0uzXvHdWZz4rds</string>
	<key>GCM_SENDER_ID</key>
	<string>556510451754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ivet</string>
	<key>PROJECT_ID</key>
	<string>ivet-db2022</string>
	<key>STORAGE_BUCKET</key>
	<string>ivet-db2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556510451754:ios:abbf159069af9612e7cb53</string>
</dict>
</plist>